<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="static/about_style.css">
    <script>
        document.addEventListener("touchstart", function () { }, true);
    </script>
</head>

<body>
    <nav class="navbar">
        <div class=logo><h2>О нас</h2></div>
        <ul class="links">
            <li><a href="/">Главная</a></li>
            <li><a href="#"></a></li>
        </ul>
    </nav>
    </header>
    <br>
    <h1>Над проектом работали:</h1>
    <hr>
    <div class="logo1">
        <div class="avatar">
            <span class="ava1">Максим Мартьянов</span>
            <img src="static/images/Мартьянов.jpg" alt="">
        </div>
        <div class="avatar">
            <span class="ava1">Руслан Крупица</span>
            <img src="static/images/Крупица.jpg" alt="">
        </div>
        <div class="avatar">
            <span class="ava1">Данил Злобин</span>
            <img src="static/images/Злобин.jpg" alt="">
        </div>
        <div class="avatar">
            <span class="ava1">Ефим Ворончихин</span>
            <img src="static/images/Ворончихин.jpg" alt="">
        </div>
        <div class="avatar">
            <span class="ava1">Стефания Шишкина</span>
            <img src="static/images/Шишкина.jpg" alt="">
        </div>
    </div>

</body>

</html>