<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="static/index_style.css">

</head>

<body>
    <nav class="navbar">
        <span class="menu-btn material-symbols-rounded">≡</span>
        <div class="logo">
            <h2>Главная</h2>
        </div>
        <ul class="links">
            <span class="close-btn material-symbols-rounded">✕</span>
            <li><a href="/about">О нас</li>
            <li><a href="#"></a></li>
        </ul>
    </nav>
    <br>
    <div class="text-container">
        <br>
        <h2>О проекте</h2>
        <br>
        <p>Автоматизированная система проверки отчётов "LabManager" разработана для оптимизации процесса выставления
            оценок за лабораторные работы, облегчая взаимодействие между преподавателем и студентом посредством Telegram-бота и вебсайта. Система "LabManager" позволяет загружать отчёты студентов, выставлять оценки и отправлять
            обратную связь. Также в системе реализованы функции хранения результатов которые можно использовать для
            формирования
            статистики по выполнению лабораторных работ.</p>
        <br>
    </div>
</body>

</html>